# Dependencies
node_modules/
/packages/*/node_modules

# Vite build cache
/packages/*/.vite/

# Build artifacts
/packages/*/dist/

# Env files
.env
*.env.local

# IDE config
.vscode/

# OS-specific
.DS_Store
Thumbs.db